@CHARSET "UTF-8";
@CHARSET "UTF-8";
body {
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header {
    text-align: right;
    padding: 10px;
    background-image:
    url(../img/tsurugi01.JPG);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 60px;
}
header ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

header li {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
}

header li > a {
    text-decoration: none;
    color: inherit;
}

header li > a:hover {
    color: royalblue;
}

.current {
    border-bottom: 4px solid royalblue;
}

section{
    text-align: center;
}

section  h1 {
    font-weight: normal;
    margin-bottom: 8px;
}
section p {
    margin-top: 0;
    font-size: 14px;
}

/* section > img */

.icon { 
    border-radius: 50%;
    /* border-color: pink;
    border-width: 5px;
    border-style: solid; */
    border: 5px solid pink;
    box-shadow: 0px 0px 5px gray;
}

.works {
    width: 400px;
    margin: 60px auto;
    border-bottom: 1px solid gray;
}

.works h1
.works p {
    text-align: left;
}

.works > section {
    margin-bottom: 40px;
}

footer {
    width: 400px;
    margin: 0px auto 60px;
}

footer ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    float: left;
}

footer li {
    display: inline-block;
}


footer li > a:hover {
    opacity: 0.6;
}

footer p {
    color: lightgray;
    font-size: 14px;
    text-align: right;
}

.about  {
    width: 400px;
    margin: 0 auto 60px; 
}

.about p {
    text-align: center;
}