<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>
        about mizuki
        </title>
        <meta name="description" content="about mizuki">
        <link rel="stylesheet" href="style/styles.css">
    </head>
    <body>
    <header>
    <!-- 
        ol: (o)rdered (l)ist
        ul: (u)nordered (l)ist

        li: (l)ist (i)tem
    -->
        <nav>
        <ul>
            <li>
                <a href="index.html">
                    HOME
                </a>
            </li>
            <li class="current">
                <a href="about.html">
                    ABOUT
                </a>
            </li>
        </ul>
        
        </nav>
        
    </header>
        <section class="about">
        <img src="img/剣山04.JPG" width="140" height="140" 
        alt = "mizuki icon" class="icon">
        <h1>mizuki</h1>
        <p>introduce mizuki</p>
        </section>
        <footer>
        <ul>
            <li>
                <a href="mailto:mizuki@gmail.com" target="_brank">
                    <img src="img/剣山07.JPG" width="20" height="20" alt="メール送信">
                </a>
            </li>
            <li>
                <a href="https://dotinstall.com/lessons/basic_html_v4/45113" target="_brank">
                    <img src="img/剣山06.JPG" width="20" height="20" alt="ブログサイトへ">
                </a>
            </li>
                <a href="https://dotinstall.com/lessons/basic_html_v4/45113" >
            <li><img src="img/剣山06.JPG" width="20" height="20" alt="写真サイトへ">
                </a>
            </li>
        </ul>
        
        <p>
            (c) mizuki
        </p>
        </footer>
    </body>

</html>


