<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>
        mizuki's portfolio site
        </title>
        <meta name="description" content="mizuki's portfolio site">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>>
    </head>
    <body>
    <header>
    <!-- 
        ol: (o)rdered (l)ist
        ul: (u)nordered (l)ist

        li: (l)ist (i)tem
    -->
        <nav>
        <ul>
            <li class="current">
                <a href="index.html">
                    HOME
                </a>
            </li>
            <li>
                <a href="about.html">
                    ABOUT
                </a>
            </li>
        </ul>
        </nav>
     </header>
        <section>
        <img src="../img/tsurugi04.JPG" width="140" height="140" 
            alt = "mizuki icon" class="icon">
        <h1>mizuki</h1>
        <p>UI/UXデザイナー見習いです。</p>
        </section>
        <div class="works">
        <section>
        <img src="../img/tsurugi02.JPG" width="400" height="260" alt = "mizuki icon">
        <h1>
        勇者ゲーム</h1>
        <p>
        楽しいアプリです。
        </p>
        </section>
        <section>
        <img src="../img/tsurugi04.JPG" width="400" height="260" alt = "mizuki icon">
        <h1>
        宝探しゲーム</h1>
        <p>
        楽しいアプリです。
        </p>
        </section>
        <section>
        <img src="../img/tsurugi03.JPG" width="400" height="260" alt = "mizuki icon">
        <h1>
        神経衰弱</h1>
        <p>
        楽しいアプリです。
        </p>
        </section>
        </div>
        <footer>
        <ul>
            <li>
                <a href="mailto:mizuki@gmail.com" target="_brank">
                    <img src="../img/tsurugi07.JPG" width="20" height="20" alt="メール送信">
                </a>
            </li>
            <li>
                <a href="https://dotinstall.com/lessons/basic_html_v4/45113" target="_brank">
                    <img src="../img/tsurugi06.JPG" width="20" height="20" alt="ブログサイトへ">
                </a>
            </li>
                <a href="https://dotinstall.com/lessons/basic_html_v4/45113" >
                <img src="../img/tsurugi06.JPG" width="20" height="20" alt="写真サイトへ">
                </a>
            </li>
        </ul>
        
        <p>
        (c) mizuki
        </p>
        </footer>
    </body>

</html>


