<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "utf-8">
        <title>my trips</title>
        <meta name = "description" content = "my trips">
        <link rel = "stylesheet" href = "../css/styles.css" th:href="@{/css/styles.css}">
    </head>
    <header>

    </header>
    <body>
        <section>
            <img src="../img/剣山01.JPG" width="200" height="200"
                alt = "my profile" class="icon">
            <p>京都大学工学部三回生</p>
        </section>
            <div>
            <img src="../img/剣山07.JPG" width="400" height="260" alt="my trip" class="trip">
            <img src="../img/高屋神社03.JPG" width="400" height="260" alt="my trip" class="trip">
            <h1>四国旅行</h1>
            <p>
            西日本で2番目に高い山である剣山と、天空の神社高屋神社。
            </p>
            </div>
            <div>
            <img src="../img/malay.jpg" width="400" height="260" alt="my trip" class="trip">
            <img src="../img/designVillage.jpg" width="400" height="260" alt="my trip" class="trip">
            <h1>マレーシア</h1>
            <p>
            留学先の博物館とデザインビレッジ。
            <p>
            </div>
            <div>
            <img src="../img/布引.jpg" width="400" height="260"  alt="my trip" class="trip">
            <img src="../img/布引1.jpg" width="400" height="260" alt="my trip" class="trip">
            <h1>新神戸BBQ</h1>
            <p>
            川沿いでキャンプ。神戸、布引の滝。
            <p>
            </div>
            <div>
            <img src="../img/planet.jpg" width="400" height="260" alt="my trip" class="trip">
            <h1>京都大学学園祭</h1>
            <p>
            サークル自作のプラネタリウム。
            <p>
            </div>
            
</html>