<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>
            mizuki okabe
        </title>
        <meta name="description" content="rakuten summer internship">
    </head>
    <body>
    <header>
    <!-- 
        ol: (o)rdered (l)ist
        ul: (u)nordered (l)ist

        li: (l)ist (i)tem
    -->
        
    </header>
        <section class="about">
        <h1>mizuki</h1>
        <p>introduce mizuki</p>
        </section>
        <footer>
        
        <p>
            (c) mizuki
        </p>
        </footer>
    </body>

</html>


